*
{
    box-sizing: border-box;
}

body 
{
    font-family: 'Inconsolata';
    font-size: calc(20px + 0.4vw);

    padding: 2vw;
    padding-top: 2vw;
    background-color: white;
    color: black;
    text-align: center;
    margin: 0;
}

img 
{
    width: 100%;
}

.smallerLogo
{
    width: 100px;
    height: 100px;
    float: left top;
}

p 
{
    margin-top: 4vh;
}

ul 
{
    font-family: 'Inconsolata';
    font-size: calc(20px + 0.4vw);

    padding: 4vw;
    padding-top: 2vw;
    color: black;
    text-align: left; 

    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navbar
{
    background: #0E5740;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-links ul
{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li
{
    list-style: none;
}

.navbar-links li a
{
    text-decoration: none;
    color: gold;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover
{
    background: #11694d;
    transition: .5s;
}

.toggle-button
{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar
{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 600px)
{
    .toggle-button
    {
        display: flex;
    }

    .navbar-links
    {
        display: none; 
    }

    .navbar
    {
        flex-direction: column;
        align-items: flex-start
    }

    .navbar-links ul
    {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li
    {
        text-align: center;
    }

    .navbar-links li a 
    {
        padding: .5rem 1rem;
        
    }
}