*
{
    box-sizing: border-box;
}

body 
{
    font-family: 'Inconsolata';
    font-size: calc(20px + 0.4vw);

    padding: 2vw;
    padding-top: 2vw;
    background-color: white;
    color: black;
    text-align: center;
    margin: 0;
}

img 
{
    width: 100%;
}

.smallerLogo
{
    width: 100px;
    height: 100px;
    float: left top;
}

p 
{
    margin-top: 4vh;
}

ul 
{
    font-family: 'Inconsolata';
    font-size: calc(20px + 0.4vw);

    padding: 4vw;
    padding-top: 2vw;
    color: black;
    text-align: left; 

    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.navbar
{
    background: #0E5740;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-links ul
{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.navbar-links li
{
    list-style: none;
}

.navbar-links li a
{
    text-decoration: none;
    color: gold;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover
{
    background: #11694d;
    transition: .5s;
}

.upcoming-events ul
{
    display: flex;
    background: #0E5740;
    padding: 10px;
}

.upcoming-events li
{
    background: #11694d;
    padding: 5px;
    margin-left: 15px;
    color: gold;
}